@tailwind base;
@tailwind components;
@tailwind utilities;

.active-label {
  @apply -top-[10px] text-smallParagraph text-primary bg-white;
}

.transition-default {
  @apply transition-all ease-in-out duration-300;
}

.transition-linear {
  @apply transition-all ease-linear duration-150;
}

.custom-scrollbar {
  @apply scrollbar-thumb-primary scrollbar-thin scrollbar-track-gray-200;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
